<ul class="navpane">
    <li> <a href="/bookslist">Books List</a></li>
    <li> <a href="/admin">Admin</a></li>
    <li> <a href="/addnewbook">Add Book</a></li>
    <li> <a href="/books/1">To Kill A Mockingbird</a></li>
    <li><a href="/books/2">The Great Gatsby</a></li>
    <li><a href="/books/3">Fahrenheit451</a></li>
</ul>  