<!DOCTYPE html>
<html>
    <style>
    body {
      font-family: "Times New Roman", times, serif;
    }
    
    .navpane {
      height: 100%;
      width: 180px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 10px;
    }
    
    .navpane a {
      padding: 6px 8px 6px 30px;
      text-decoration: none;
      font-size: 25px;
      color: #f11212;
      display: block;
    } 
    .maincontainer {
      margin-left: 220px; 
      font-size: 30px; 
      padding: 0px 0px;
    }

    aside {
  width: 33%;
  padding-left: 55px;
  margin-left: 55px;
  float: left;
  font-style: italic;
  font-size: 25px;
  background-color: gray;
    }

    .title {margin-bottom: 200px;}
    div.a {text-align: center;}
    div.b {align: center;}
    </style>
    </head>
    <body>

    
    <%- include('partials/navpanelhome') %>

    </div>
    
    <div class="maincontainer">
      <h2 style="color:red;, align:center">SENECA LIBRARY</h2>
      <div class="a">
      <h2>Books List</h2>
      </div>
        <article class=.title>
        <a href="/books/1"> 
      <img src="../public/images/book1.jpg"
      alt="Book Cover of To Kill A MockinBird"
      width="200"
      height="250"
      align="left">
        </a>
    
     <br></br>
     <aside>
     <h3><a href="/books/1">To Kill A Mockingbird By: Harper Lee </a></h3>
     </aside>
    </article>
     <br></br>
     <br></br>
     <br></br>
     


    <article class="title">
     <a href="/books/2"> 
      <img src="../public/images/book2.jpg"
      alt="Book Cover of The Great Gatsby"
      width="200"
      height="250"
      align="left">
     </a>
      <br></br>
      <aside>
      <h3><a style="display:block;text-align:left"  href="/books/2" >Gatsby By: Scott Fitzgerald</h3>
      </aside>
      </article>




      <a href="/books/3" class="title"> 
      <img src="../public/images/book3.jpg"
      alt="Book Cover"
      width="200"
      height="250"
      align="left">
      </a>
      <br></br>
      <aside>
      <h3><a style="display:block;text-align:left" href="/books/3">Fahrenheit451 By: Ray Bradbury</h3>
      </aside>
    </div>
       
    </body>
    </html> 
</html>