<!DOCTYPE html>
<html>
    <style>
    body {
      font-family: "Times New Roman", times, serif;
    }
    
    .navpane {
      height: 100%;
      width: 180px;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 10px;
    }
    
    .navpane a {
      padding: 6px 8px 6px 30px;
      text-decoration: none;
      font-size: 25px;
      color: #f11212;
      display: block;
    } 
    .maincontainer {
      margin-left: 220px; 
      font-size: 30px; 
      padding: 0px 0px;
    }
    
    </style>
    </head>
    <body>
    
    <%- include('partials/navpanelhome') %>

    
    <div class="maincontainer">
      <h2 style="color:red">SENECA LIBRARY</h2>
      <article>
      <h2>Home Page</h2>
      <p>Welcome to Seneca's online library. Select the following options from the side tab to navigate to where you need to go.</p>
      </article>
    </div>
       
    </body>
    </html> 
</html>